<h3>Hello {{name}} and welcome to Karma ...</h3>

<p>We received your Karma registration today at {{created_at}}</p>

<p>This project is based to consolidate knowledge and promote the work of our team,
    so you can easily give us some feedback to improve errors ...</p>

<p>Enjoy your stay and share with your friends</p>

<strong>Rules</strong>

<i> I do not know of discriminate by race or sex </i>
<p>all users must respect each other</p>

<i>Ethnic origin is not discriminated</i> 
<p>no matter where you are from or what language you dominate, you deserve respect</p>