{% extends 'layouts/layout.html' %}

{% block content %}

<div class="container">

    <div class="row mt-5-">
        <div class="col-md-3 col-sm-6 ">
            <a href="{% url 'Home' %}" class="btn btn-light">Back to Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            {% if request.user.profile.picture %}
            <img src="{{ profile.picture.url }}" class="rounded-circle" width="100" height="100" />
            {% endif %}
            <h3 class="py-4">
                {% if profile.name %}
                    <p>{{profile.name}}</p>
                {% endif %}
            </h3>
            <h5 class="py-4">
                {% if profile.location %}
                    <p>{{profile.location}}</p>
                {% endif %}
            </h5>
            <h5 class="py-4">
                {% if profile.web %}
                    <p>{{profile.web}}</p>
                {% endif %}
            </h5>
            
            <div class="row mb-3">
                <div class="col-md-5 col-sm-12">
                    <a href="{% url 'edit-profile' request.user.profile.pk %}">
                    <input class=" btn btn-dark mt-2 primaryAction" type="submit" value="Edit">
                    </a>
                </div>
            </div>
        </div>
            
    </div>
    {% for x in posts %} 

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            <p><a style="text-decoration: none" class="text-primary" href="#">
                @{{x.author}}</a> {{x.created_at}}</p>
            <div class="position-relative">
            <h5>{{ x.title }}</h5>
            <p>{{ x.content }}</p>
            <a href="{% url 'Home' %}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {% endfor %}

    
</div>

{% endblock %}